.foot{
background-color: $grey-2;

    .footer{
        // height: 20vh;
        max-width: 110rem;
        margin: 0 auto;
        padding: 4rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and(max-width: 31.25em){
            flex-direction: column;
            width: 100%;
            padding: 0 2rem;
            
        }

        .about, .category, .Help-box, .Payments-box{
            @media only screen and(max-width: 31.25em){
                display: none;
            }

            .about{
                a{
                    position: relative;
                    width: 100%;
                    &::before{
                        position: absolute;
                        right: 3rem;
                        content: url(/assets/resources/img/icon/chevrondown.png);
                    }
                }
            }
            
        }

        div{
            input{
                display: none;

                @media only screen and(max-width: 31.25em){
                    display: block;
                }
            }

            label{
                @media only screen and(max-width: 31.25em){
                    width: 100%;
                }
            }
        }

        ul{
            li{
                list-style: none;
                a:link,
                a:visited{
                    text-decoration: none;
                    color: $black;
                    font-size: 1.2rem;
                    line-height: 19px;
                }
            }
        }

        .social {

            display: flex;
            flex-direction: column;
            @media only screen and(max-width: 31.25em){
                
                margin: 0 auto;
                
            }

            .social__text {
                @media only screen and(max-width: 31.25em){
                
                    display: none;
                    
                }
            }
            

            ul{
                display: flex;
                margin-top: 2rem;

                li{
                    list-style: none;
                    
                    a{
                        margin-right: 1rem;

                        @media only screen and(max-width: 31.25em){
                
                            margin: 0 2rem;
                            
                        }
                        
                    }
                }
            }
        }

        
    }

    .copyright{
        text-align: center;
        font-size: .9rem;
        line-height: 1.3rem;
        letter-spacing: 0.5px;

        @media only screen and(max-width: 31.25em){
                
            font-size: 1.6rem;

            padding: 3rem 0;
            
            
        }
    }
}

.accordion-container{
    display: none;

    @media only screen and(max-width: 31.25em){
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .ac{
        border: none;
        .ac-header{
            margin: 0;
        padding: 0;
        border: none;
            .ac-trigger{
                font-family: 'Cormorant Garamond', sans-serif;
                background-color: #F7F7F7;
                font-weight: 700;
                
            }
        }

        .ac-panel{
            background-color: $grey-2;
            border-bottom: 1px solid #E1E0E1;

            li{
                list-style: none;

                a:link,
                a:visited{
                    text-decoration: none;
                    font-size: 2rem;
                    line-height: 19px;
                    margin-left: 1.4rem;
                    color: $black;
                }
            }
        }
    }
}