.navigation {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;

    .logo {
      a {
        font-size: 3.8rem;
        font-weight: 700;
        color: $white;
        text-decoration: none;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
      }
    }

    .search-bar {
        display: flex;
        align-items: center;
        position: relative;

      .search {
        background: rgba(247, 247, 247, 0.25);
        border-radius: .3rem;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: none;
        padding: 2rem;
        outline: none;
        width: 60rem;
        color: $white;
        font-size: 1.6rem;

        &::placeholder{
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.6;
            letter-spacing: 0.8px;
        }
        
      }

      a{
          svg{
              position: absolute;
              fill: $white;
              right:  1.5rem;
              top: 2rem;

              
              
          }
      }
    }

    .sign{
        display: flex;
        align-items: center;

        a:link,
        a:visited{
            color: $white;
        }
       .sign-in{
            border-right: 2px solid #fff;

            
        }
        .sign-in.active{
          border-right: none;
        }
        &>*:not(:last-child){
            padding: 0 .5rem;
            font-size: 1.1rem;
            text-decoration: none;
            color: $white;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .sign-up.active{
          display: none;
        }
        a{
          svg{
            fill: $white;
          }
        }
        
        .card-num{
          background-color: $yellow;
          height: 2rem;
          width: 2rem;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          display: none;
          

          .num{
            color: $black;
            font-weight: 600;
          }
          
        }

        .card-num.active{
          background-color: $yellow;
          height: 2rem;
          width: 2rem;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          
          

          .num{
            color: $black;
            font-weight: 600;
          }
          
        }
        
    }
  }

  &__sub{
      .list{
          display: flex;
          justify-content: center;

          li{
              list-style: none;
              a:link,
              a:visited{
                text-decoration: none;
                color: $white;
                font-weight: 600;
                font-size: 1.3rem;
                letter-spacing: 1px;
                margin:1.9rem;
                text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
                
              }
          }
    }
  }
}
