* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 37.5%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

.ts {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
}

.pad-top-nav {
  padding: 1.2rem 0;
}

.upper {
  text-transform: uppercase;
}

.btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #000000;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2rem;
  cursor: pointer;
}

.foo-t {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.9rem;
  letter-spacing: 2px;
}

.mt {
  margin-top: 2rem;
}

.scrolled {
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(white));
  background: -webkit-linear-gradient(bottom, white, white);
  background: -o-linear-gradient(bottom, white, white);
  background: linear-gradient(0deg, white, white);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #000000;
}

.scrolled .navigation__up,
.scrolled .navigation__sub {
  background-color: #fff;
}

.scrolled .navigation__up .logo a {
  color: #000000;
  text-shadow: none;
}

.scrolled .navigation__up .search-bar .search {
  color: #000000;
}

.scrolled .navigation__up .search-bar .search::-webkit-input-placeholder {
  color: #000;
}

.scrolled .navigation__up .search-bar .search:-ms-input-placeholder {
  color: #000;
}

.scrolled .navigation__up .search-bar .search::-ms-input-placeholder {
  color: #000;
}

.scrolled .navigation__up .search-bar .search::placeholder {
  color: #000;
}

.scrolled .navigation__up .search-bar a svg {
  fill: #000;
}

.scrolled .navigation__up .sign .sign-in,
.scrolled .navigation__up .sign .sign-up {
  color: #000;
}

.scrolled .navigation__up .sign .sign-in {
  border-right: 2px solid #000000;
}

.scrolled .navigation__up .sign a svg {
  fill: #000;
}

.scrolled .navigation__sub ul .item .link {
  color: #000;
  text-shadow: none;
}

.nav-linear {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent);
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.white {
  background-color: #ffffff;
}

.foot {
  background-color: #f7f7f7;
}

.foot .footer {
  max-width: 110rem;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 31.25em) {
  .foot .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .foot .footer .about, .foot .footer .category, .foot .footer .Help-box, .foot .footer .Payments-box {
    display: none;
  }
}

.foot .footer .about .about a, .foot .footer .category .about a, .foot .footer .Help-box .about a, .foot .footer .Payments-box .about a {
  position: relative;
  width: 100%;
}

.foot .footer .about .about a::before, .foot .footer .category .about a::before, .foot .footer .Help-box .about a::before, .foot .footer .Payments-box .about a::before {
  position: absolute;
  right: 3rem;
  content: url(/assets/resources/img/icon/chevrondown.png);
}

.foot .footer div input {
  display: none;
}

@media only screen and (max-width: 31.25em) {
  .foot .footer div input {
    display: block;
  }
}

@media only screen and (max-width: 31.25em) {
  .foot .footer div label {
    width: 100%;
  }
}

.foot .footer ul li {
  list-style: none;
}

.foot .footer ul li a:link,
.foot .footer ul li a:visited {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  line-height: 19px;
}

.foot .footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 31.25em) {
  .foot .footer .social {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 31.25em) {
  .foot .footer .social .social__text {
    display: none;
  }
}

.foot .footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.foot .footer .social ul li {
  list-style: none;
}

.foot .footer .social ul li a {
  margin-right: 1rem;
}

@media only screen and (max-width: 31.25em) {
  .foot .footer .social ul li a {
    margin: 0 2rem;
  }
}

.foot .copyright {
  text-align: center;
  font-size: .9rem;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 31.25em) {
  .foot .copyright {
    font-size: 1.6rem;
    padding: 3rem 0;
  }
}

.accordion-container {
  display: none;
}

@media only screen and (max-width: 31.25em) {
  .accordion-container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.accordion-container .ac {
  border: none;
}

.accordion-container .ac .ac-header {
  margin: 0;
  padding: 0;
  border: none;
}

.accordion-container .ac .ac-header .ac-trigger {
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: #F7F7F7;
  font-weight: 700;
}

.accordion-container .ac .ac-panel {
  background-color: #f7f7f7;
  border-bottom: 1px solid #E1E0E1;
}

.accordion-container .ac .ac-panel li {
  list-style: none;
}

.accordion-container .ac .ac-panel li a:link,
.accordion-container .ac .ac-panel li a:visited {
  text-decoration: none;
  font-size: 2rem;
  line-height: 19px;
  margin-left: 1.4rem;
  color: #000000;
}

.header {
  background: url(/assets/resources/img/bg/9193579.jpg);
  background-size: cover;
  background-position: top;
  height: 90vh;
}

@media only screen and (max-width: 43.75em) {
  .header {
    background-position: center;
    overflow: hidden;
  }
}

.header h1 {
  margin: 0;
  position: absolute;
  top: 53%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  letter-spacing: 3px;
}

@media only screen and (max-width: 31.25em) {
  .header h1 {
    display: none;
  }
}

.header.active {
  background: url(/assets/resources/img/bg/hp-oh-hi.jpg);
  background-size: cover;
  background-position: top;
  height: 90vh;
}

.mobile-nav {
  display: none;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 31.25em) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav .nav-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.mobile-nav .nav-mob .logo-mob a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 5rem;
}

.mobile-nav .nav-mob .burg-search .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.mobile-nav .nav-mob .burg-search .burger span {
  position: relative;
  background-color: #ffffff;
  width: 5rem;
  height: .6rem;
}

.mobile-nav .nav-mob .burg-search .burger span::before {
  position: absolute;
  content: '';
  width: 5rem;
  height: .6rem;
  background-color: #ffffff;
  top: 8px;
}

.mobile-nav .nav-mob .burg-search .burger span::after {
  position: absolute;
  content: '';
  width: 5rem;
  height: .6rem;
  background-color: #ffffff;
  bottom: 8px;
}

.mobile-nav .nav-mob .burg-search .mob-search-icon {
  position: relative;
}

.mobile-nav .nav-mob .burg-search .mob-search-icon svg {
  fill: #ffffff;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  position: absolute;
  top: -11px;
}

.mobile-nav .nav-mob .burg-search .mob-search-rem svg {
  fill: #ffffff;
}

.mobile-nav .nav-mob .mob-card-num .mob-card a svg {
  fill: #ffffff;
  margin-right: 2rem;
}

.mobile-nav .nav-mob .mob-card-num .mob-num {
  background-color: #F2DA91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.mobile-nav .nav-mob .mob-card-num .mob-num a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
}

.mobile-nav .mob-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.mobile-nav .mob-search .mob-search-text {
  width: 100%;
  padding: 2rem 2rem;
  font-size: 3rem;
  line-height: 1.6rem;
  border-radius: 3px;
  border: none;
  color: #000000;
  background-color: #f7f7f7;
}

.mobile-nav .mob-search .mob-search-text::-webkit-input-placeholder {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
}

.mobile-nav .mob-search .mob-search-text:-ms-input-placeholder {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
}

.mobile-nav .mob-search .mob-search-text::-ms-input-placeholder {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
}

.mobile-nav .mob-search .mob-search-text::placeholder {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
}

.mobile-nav .mob-search a svg {
  fill: #000000;
  position: absolute;
  right: 15px;
  top: 15px;
}

.mobile-nav.active {
  background-color: white;
}

.mobile-nav.active .nav-mob .burg-search .burger span {
  background-color: #000000;
}

.mobile-nav.active .nav-mob .burg-search .burger span::before, .mobile-nav.active .nav-mob .burg-search .burger span::after {
  background-color: #000000;
}

.mobile-nav.active .nav-mob .mob-search-icon svg {
  fill: #000000;
}

.mobile-nav.active .nav-mob .mob-search-rem svg {
  fill: #000000;
}

.mobile-nav.active .nav-mob .logo-mob a {
  color: #000000;
  text-shadow: none;
}

.mobile-nav.active .nav-mob .mob-card-num .mob-card a svg {
  fill: #000000;
}

@media only screen and (max-width: 31.25em) {
  .navigation {
    display: none;
  }
}

.navigation__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
}

.navigation__up .logo a {
  font-size: 3.8rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
}

.navigation__up .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation__up .search-bar .search {
  background: rgba(247, 247, 247, 0.25);
  border-radius: .3rem;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: none;
  padding: 2rem;
  outline: none;
  width: 60rem;
  color: #ffffff;
  font-size: 1.6rem;
}

@media only screen and (max-width: 62.5em) {
  .navigation__up .search-bar .search {
    width: 50rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .navigation__up .search-bar .search {
    width: 40rem;
  }
}

.navigation__up .search-bar .search::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.navigation__up .search-bar .search:-ms-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.navigation__up .search-bar .search::-ms-input-placeholder {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.navigation__up .search-bar .search::placeholder {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.navigation__up .search-bar a svg {
  position: absolute;
  fill: #ffffff;
  right: 1.5rem;
  top: 2rem;
}

.navigation__up .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__up .sign a:link,
.navigation__up .sign a:visited {
  color: #ffffff;
}

.navigation__up .sign .sign-in {
  border-right: 2px solid #fff;
}

.navigation__up .sign .sign-in.active {
  border-right: none;
}

.navigation__up .sign > *:not(:last-child) {
  padding: 0 .5rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.navigation__up .sign .sign-up.active {
  display: none;
}

.navigation__up .sign a svg {
  fill: #ffffff;
}

.navigation__up .sign .card-num {
  background-color: #F2DA91;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  display: none;
}

.navigation__up .sign .card-num .num {
  color: #000000;
  font-weight: 600;
}

.navigation__up .sign .card-num.active {
  background-color: #F2DA91;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.navigation__up .sign .card-num.active .num {
  color: #000000;
  font-weight: 600;
}

.navigation__sub .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__sub .list li {
  list-style: none;
}

.navigation__sub .list li a:link,
.navigation__sub .list li a:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 1.9rem;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.14);
}

.subscribe {
  padding: 4rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .subscribe {
    width: 100%;
  }
}

.subscribe__description {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

@media only screen and (max-width: 31.25em) {
  .subscribe__description {
    font-size: 1.5rem;
  }
}

.subscribe__content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__content .btn-black {
  margin-left: 1rem;
}

.subscribe__content .email-box {
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid #E1E0E1;
  width: 33.4rem;
  border-radius: .3rem;
}

@media only screen and (max-width: 31.25em) {
  .subscribe__content .email-box {
    width: 50rem;
  }
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .top-nav {
    display: none;
  }
}

.top-nav__title {
  font-weight: 500;
  font-family: inherit;
  font-size: 1.1rem;
  position: absolute;
  line-height: 1.6rem;
  letter-spacing: 0.8px;
}

.top-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media only screen and (max-width: 62.5em) {
  .top-nav__location {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-nav__location .location-icon svg {
  fill: black;
  margin-right: .5rem;
}

.top-nav__location .location-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}
/*# sourceMappingURL=main.css.map */